

  

.container{
  background-image: url('../resources/banneri.png');
  width: 1320px;
height: 600px;
flex-shrink: 0;
margin: 0 auto;
border-radius: 16px;
border-radius: 16px;
background:linear-gradient(black) ;
background-blend-mode: multiply;
}
.hade{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:170px 531px 0px 530px ;
}
.pera{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
width: 632px;
padding:25px 344px 177px 344px ;
}
#discount{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#our{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#all{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.photo{
  margin: 0 auto;
  width: 802.9px;
height: 500px;
flex-shrink: 0;
}
.third{
  margin: 120px auto;
  width: 1320px;
height: 600px;
flex-shrink: 0;
background-image: url('../resources/vectorrr.png');
background-repeat: no-repeat;
border-top: 120px;
/* padding-left:126px ; */
fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);}
#party{
  display: flex;
  width: 1320px;
height: 600px;
flex-shrink: 0;
align-items: center;

}
.party-year{
  display: flex;
width: 319.83px;
height: 464.662px;
padding-left: 60px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.party-taittlr h2{
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
width: 642px;
padding-left:126px}
.party-taittlr p{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
padding-left:126px
}
#btn{
  color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;


}

 span{
  color: #F00;
 }
 .join p{
  text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;

 }
 

 
.fourth{
  text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
width: 1320px;
height: 482px;
flex-shrink: 0;
padding-top: 100px;
margin: 0 auto;
}
.join button{
display: inline-flex;
padding: 16px 32px;
justify-content: center; 
 align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
; 
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
}
.middle{
  display: flex;
  justify-content: space-around;
  width: 1600px;

margin: 120px auto;
background-color: #FFF;

}
 .middle .first h3{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

 }
 .middle .first h2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
 }
.middle .first p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 393px;

}
.middle .first{
  padding-right: 90px;
}
.first{
  margin-left: 140px;
}
.happy-year h2 {
  color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.happy-year p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 276px;
margin-right: 100px;
}
 .fire img{
  width: 463px;
height: 463px;
flex-shrink: 0;
border-radius: 463px;
border: 15px solid #F00;
width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 364.844px;
/* background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat; */
padding: 30px;
}
.fire{
  padding-right: 118px;
}
.Box-tittle h5{
   
  color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
/* font-weight: 500; */
/* line-height: normal; */
}
 .Box-tittle p{color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
width: 1068px;
 height: 96px;
 margin: 0 auto;
}
.Box-tittle  { 
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}
.Box-tittle h2{
  
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
 
.gifts{
  /* background: red; */
  width: 896px;
  margin: 0px auto;
}

.gifts .awesome .test p{
  color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.gifts .awesome .test h2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;


text-transform: capitalize;
}
.squre{
text-align: center;

}
.mother{
  margin:120px auto ;
  width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);

}
.mother .messege img{
  width: 150px;
height: 150px;
flex-shrink: 0;
padding: 80px 585px 0px 585px;
}
.mother .all h3{
  color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.mother .all p{
  width: 896px;color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
padding: 0px 212px  ;
}
.mother .all .ff form{
  width: 648px;

flex-shrink: 0;
}
form{
  max-width: 600px;
  margin:20px auto ;
  display: flex;
  outline: none;
}
form input{
  width: 500px;
height: 40px;
flex-shrink: 0;
border-radius:50px 0px 0px 50px;
background: #FFF;
}
 form button{
  width: 210px;
height: 45px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
footer{
  background-color: rgb(0, 0, 0);
   width: 1300px;
height: 500px;
flex-shrink: 0;
margin: 0px auto;
}
 .big .street{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
width:378px ;
height:80px ;
padding-top:120px ;
}
.big .www{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
width:338px ;
height:50px ;
padding-top:120px ;
}
.big{
  display: flex;
  justify-content: space-around;
  
}
.end .insta {
  text-align: center;
 
}
.finish{
 display: flex;
  justify-content: space-around;
}
.finish .all{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
width:338px ;
height:50px ;

}
.finish .un{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
width:338px ;
height:50px ;


}