

  

.container{
  background-image: url('../B9A1-New-Year-New-Mission/resources/banneri.png');
  width: 1320px;
height: 600px;
flex-shrink: 0;
margin: 0 auto;
border-radius: 16px;
border-radius: 16px;
background:linear-gradient(black) ;
background-blend-mode: multiply;
}
.hade{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:170px 531px 0px 530px ;
}
.pera{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
width: 632px;
padding:25px 344px 177px 344px ;
}
#discount{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#our{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#all{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.photo{
  margin: 0 auto;
  width: 802.9px;
height: 500px;
flex-shrink: 0;
}
.third{
  margin: 120px auto;
  width: 1320px;
height: 600px;
flex-shrink: 0;
background-image: url('../resources/vectorrr.png');
background-repeat: no-repeat;
border-top: 120px;
/* padding-left:126px ; */
fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
#party{
  display: flex;
  width: 1320px;
height: 600px;
flex-shrink: 0;
align-items: center;

}
.party-year{
  display: flex;
width: 319.83px;
height: 464.662px;
padding-left: 60px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.party-taittlr h2{
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
width: 642px;
padding-left:126px}
.party-taittlr p{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
padding-left:126px
}
button{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 158px;

}